body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    .img {  
        width: 100%;
        max-width: 640px;
        transform: translateY(0);
        animation: float 5s ease-in-out infinite;   
    }
}

@keyframes float {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-50px);
    }
}
